/*----- Body -----*/
body, html 
{
    margin: 0px;
    padding: 0px;
    font-family: Arial,Helvetica Neue,Helvetica, sans-serif; 
    background-color:floralwhite;
}

/*----- Menue -----*/
nav
{    
  margin: 0;
  padding: 0;
  margin-right: 10px;
  width: 20%;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background-color: chocolate;
}

#logo 
{
    background-image: url('Logo.svg');
    background-size: 100%;
	background-repeat: no-repeat;
    height: 180px;
}

#menue ul
{
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-align: left;
}

#menue li
{
    margin: 5px;
}

#menue a
{
    display: block;
    background-color: antiquewhite;
    color: black;
    text-decoration: none;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

#menue a:hover
{
    text-decoration: none;
    color: #fff;
    background-color: #000;
}

/*----- Content -----*/
section#main
{
  position: absolute;
  left: 25%;
  margin: 0;
  padding: 0;
}

/*----- Table -----*/
table 
{
    border-collapse:separate;
    width: 100%;
}

table, th, td 
{
}

th 
{
    text-align: left;
    padding:15px;
    color:#fff;
    text-shadow:1px 1px 1px #568F23;
    border:1px solid #93CE37;
    border-bottom:3px solid #9ED929;
    background-color:#9DD929;
    background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.02, rgb(123,192,67)),
        color-stop(0.51, rgb(139,198,66)),
        color-stop(0.87, rgb(158,217,41))
        );
    background: -moz-linear-gradient(
        center bottom,
        rgb(123,192,67) 2%,
        rgb(139,198,66) 51%,
        rgb(158,217,41) 87%
        );
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius:5px 5px 0px 0px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

td {
    padding:10px;
    text-align:center;
    background-color:#DEF3CA;
    border: 2px solid #E7EFE0;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    color:#666;
    text-shadow:1px 1px 1px #fff;
}

/*----- Button ----->*/
input[type=button] 
{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

input[type=button]:hover 
{
    background-color:darkgreen;
}